@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Righteous&display=swap');

@font-face {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}

.font-godzilla {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}

html,
body {
  scroll-behavior: smooth !important;
}

.faq-bg {
  background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.16) -1.72%, rgba(255, 255, 255, 0.05) 101.44%);
}

.faq-border {
  border-radius: 10px !important;
  position: relative;
}

.faq-border:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(141.11deg, rgba(255, 255, 255, 0.25) -1.59%, rgba(255, 255, 255, 0.09) 102.57%);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: -1;
}

.layer-gradient{
background: linear-gradient(180deg, #001120 0%, rgba(0, 17, 32, 0) 100%);
}

.slider-container {
  display: flex;
  animation: scroll 2s linear infinite;
}

@media (min-width: 768px) {
  .slider-container {
    animation: scroll 5s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
.scroll{
  animation: scroll-right-to-left 10s linear infinite;
}