@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Righteous&display=swap');

@font-face {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}

.font-godzilla {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}

html,
body {
  scroll-behavior: smooth !important;
}

.faq-bg {
  background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.16) -1.72%, rgba(255, 255, 255, 0.05) 101.44%);
}

.faq-border {
  border-radius: 10px !important;
  position: relative;
}

.faq-border:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(141.11deg, rgba(255, 255, 255, 0.25) -1.59%, rgba(255, 255, 255, 0.09) 102.57%);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: -1;
}

.custom-pagination .custom-bullet {
  width: 16px !important;
  height: 16px !important;
  border-radius: 9999px !important;
  border: 1px solid #535353 !important;
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
  opacity: .4;
  --tw-bg-opacity: 1;
  margin: 0 4px;
  transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: transparent !important;
  width: 46px !important;
  height: 16px;
  border-color: #FF002A !important;
  border-radius: 8px;
  position: relative;
  opacity: 1 !important;
}

.custom-pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 30px;
  border-radius: 9999px;
  background-color: #FF002A !important;
  transition: 0.3s;
}

@media(min-width:1700px) {
  .swiper-button-prev{
    left: -96px;
  }
  .swiper-button-next{
   right: -96px;
  }
}

@media (min-width: 768px) {
  .slider-container {
    animation: scroll 5s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
.scroll{
  animation: scroll-right-to-left 10s linear infinite;
}