@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Righteous&display=swap');

@font-face {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}

.font-godzilla {
  font-family: 'godzilla';
  src: url("../src/assets/fonts/Godzilla.ttf");
}


.slider-container {
  width: calc(98px + 278px + 88px + 128px + 88px + 138px + 208px + 98px + 278px + 88px + 128px + 88px + 138px + 208px);
  animation: scroll 25s linear infinite;
}

.faq-bg {
  background: linear-gradient(140.75deg, rgba(255, 255, 255, 0.16) -1.72%, rgba(255, 255, 255, 0.05) 101.44%);
}

.faq-border {
  border: 1px solid;
  border-image-source: linear-gradient(141.11deg, rgba(255, 255, 255, 0.25) -1.59%, rgba(255, 255, 255, 0.09) 102.57%);
  border-image-slice: 1;
  border-radius: 10px !important;
}

@media(min-width:768px) {
  .slider-container {
    width: calc(164px + 395px + 127px + 188px + 127px + 199px + 265px + 164px + 395px + 127px + 188px + 127px + 199px + 265px);
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}